@using Microsoft.AspNetCore.Identity
@using Identity.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using coursework_itransition

@if (SignInManager.IsSignedIn(User) )
{
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-area="" asp-controller="Composition" asp-action="New">New composition</a>
    @if(User.IsInRole("Administrator"))
    {
        <a class="dropdown-item" asp-area="" asp-controller="Administrator" asp-action="Administrator">Admin</a>
    }
    <a  class="dropdown-item" asp-controller="PersonalPage" asp-action="PersonalPage" asp-route-UserID="@Utils.GetUserID(this.User)">My page</a>
    <div class="dropdown-divider"></div>
    <form  class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button  type="submit" class="dropdown-item">Logout</button>
    </form>
}
else
{
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
}