bin
Bin
obj
Obj
app*.db*
wwwroot/js/Administrator
wwwroot/js/Chapter
wwwroot/js/Composition
wwwroot/js/Home
wwwroot/js/Models
wwwroot/js/*.js
wwwroot/js/*.js.map
.vscode
Migrations
node_modules
package-lock.json