@{
    ViewData["Title"] = "Error";
}

<h2>Requested composition was not found</h2>
<a href='javascript:history.go(-1)' type="button" class="btn btn-primary">Back</a>
<a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary">Home</a>