@model coursework_itransition.Controllers.CompositionController

@if((System.Object)Model != null)
{
    @if(Model.DisplayComposition == null)
    {
        <h2>Composition was not found or you have no access rights</h2>
        <a href='javascript:history.go(-1)' type="button" class="btn btn-primary">Back</a>
        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary">Home</a>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-9">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="DisplayComposition.Title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <select asp-for="DisplayComposition.Genre" class="form-control" required>
                            <option>Fiction</option>
                            <option>Novel</option>
                            <option>Prose</option>
                            <option>Drama</option>
                            <option>Mystery</option>
                            <option>Horror</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" asp-for="DisplayComposition.Summary" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="form-group" align="center">
                        <a href="javascript:history.go(-1)" type="button" class="btn btn-secondary" onclick="return confirm('you sure? :)');">Cancel</a>
                        <script>
                            document.write('<button type="submit" name="url" value="'+ document.referrer + '" class="btn btn-primary">Save</button>');
                        </script>
                        
                    </div>
                </form>
            </div>
        </div>
    }
}
else
{
    <p>bad</p>
}
@* 
<script>
    document.getElementById("omega-lol").setAttribute(";
    //el.setAttribute("", document.referrer);
    var k =  document.getElementById("omega-lol");
    alert(document.referrer);
    alert(k.getAtribute("asp-route-returnUrl"));
    //document.appendChild(el);
</script> *@