@{ ViewData["Title"] = "Edit"; }

<div class="row justify-content-center">
    <div class="col-lg-9 col-xl-9">
        <div class="form-group">
            <input minlength="1" maxlength="80" id="input-title" class="form-control" required>
        </div>
        <div class="form-group">
            <select id="select-genre" class="form-control" required>
                <option>Fiction</option>
                <option>Novel</option>
                <option>Prose</option>
                <option>Drama</option>
                <option>Mystery</option>
                <option>Horror</option>
            </select>
        </div>
        <div class="form-group">
            <textarea id="textarea-summary" class="form-control" class="form-control" rows="10"></textarea>
        </div>

        <div class="form-group" align="center">
            <button id="btn-delete" class="mr-2 ml-2 btn btn-danger" disabled>Delete</button>
            <button id="btn-back" class="mr-2 ml-2 btn btn-primary">Back</button>
            <button id="btn-save" class="mr-2 ml-2 btn btn-success" disabled>Save</button>
        </div>

        <ul id="sortable" class="list-group list-unstyled custom-fixed">
            
        </ul>

        <br>
        <div class="form-group" align="center">
            <button id="btn-add-chapter" class="btn btn-secondary" type="button" disabled>Add chapter</button>
        </div>

        <div class="form-group" align="center">
            <div class="alert fade"></div>
        </div>

        <ul id="sortable" class="list-group list-unstyled custom-fixed"></ul>

        <br>
        <div class="form-group" align="center">
            <button id="btn-add-chapter" class="btn btn-secondary" type="button" disabled>Add chapter</button>
        </div>
    </div>
</div>

<script type="module" src="~/js/Composition/Edit.js"></script>

<style>
    li.custom-fixed{
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    

    ul.custom-fixed{ 
        table-layout: fixed; 
        width: 100%;
    }
</style>
