@{
    ViewData["Title"] = "New";
}

@model coursework_itransition.Models.Composition

<div class="row justify-content-center">
    <div class="col-lg-9 col-xl-9">
        <form asp-action="New" asp-route-UserID="@ViewContext.RouteData.Values["UserID"]" method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Composition title" required>
            </div>
            <div class="form-group">
              <select asp-for="Genre" class="form-control" required>
                <option>Fiction</option>
                <option>Novel</option>
                <option>Prose</option>
                <option>Drama</option>
                <option>Mystery</option>
                <option>Horror</option>
              </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" asp-for="Summary" class="form-control" rows="10"></textarea>
            </div>
            <div class="form-group" align="center">
                <a href="javascript:history.go(-1)" type="button" class="btn btn-secondary" onclick="return confirm('you sure? :)');">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>