@{
    ViewData["Title"] = "Admin";
}

@model HomeController

<div class="table-responsive table-striped">
        <table class="table" id="controls">
            <caption class="caption">Users</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                    <th>Role</th>
            </thead>
            @foreach (var b in Model._context.Users)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Email</p></td>
                    <td> 
                        @if (b.LockoutEnabled)
                        {
                            <p>not ban</p>
                        }
                        else
                        {
                            <p>ban</p>
                        }
                    </td> 
                    <td><p></p></td>
                </tr>
            }
        </table>
    
    
</div>
