@model coursework_itransition.Controllers.HomeController;

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css"/>
<div id="id-user" hidden>@Utils.GetUserID(this.User)</div>
<div id="admin-user" hidden>@this.User.IsInRole("Administrator")</div>

<div class="row justify-content-md-center">
    <div class="col-lg-10">
        <div class="p-2 text-center bg-dark mb-3">
            <h3>
                Composition
            </h3>
        </div>      
        <div id="feed"></div>
    </div>
</div>

<script type="module" src="~/js/Home/Index.js"></script> 
