@page

<form id="container-for-chapters">
  <div class="form-group" align="center">
    <button class="btn btn-outline-secondary" id="append-new-chapter" onclick="appendNewChapter()">Add chapter</button>
  </div>
</form>

<script src="~/js/NewComposition/chapters.js"></script>