
.modal-title{
    width: 75%;
}

.text{
    word-wrap:  break-word;
    overflow-wrap: break-word;
}

.size{
    overflow: hidden; 
    text-overflow: ellipsis;
}

table.resizeble tr {
    white-space: nowrap;
}

table.resizeble tr:hover {
    white-space: normal; 
    word-wrap:  break-word;
    overflow-wrap: break-word;
}

table.resizeble { 
    table-layout: fixed; 
    width: 100%;
}

table.resizeble th, table.resizeble td { overflow: hidden; }

table.resizeble .th-Name{
    width: 40%;
}

table.resizeble .th-Status{
    width: 10%;
}


table.resizeble .th-Email{
    width: 30%;
}

table.resizeble .th-Admin{
    width: 10%;
}

table.resizeble .th-Buttons {
    width: 10%;
}

table.resizeble .th-Tittle {
    width: 70%;
}

table.resizeble .th-Buttons-Inside {
    width: 30%;
}

@media (max-width: 576px)
{
    table.resizeble .size{
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    table.resizeble tr {
        white-space: nowrap;
    }

    table.resizeble tr:hover {
        white-space: normal; 
        word-wrap:  break-word;
        overflow-wrap: break-word;
    }

    table.resizeble table { 
        table-layout: fixed; 
    }

    table.resizeble th, tatable.resizebleble td { overflow: hidden; }

    table.resizeble .th-Name{
        width: 25%;
    }
    
    table.resizeble .th-Status{
        width: 25%;
    }
    
    
    table.resizeble .th-Email{
        width: 25%;
    }
    
    table.resizeble .th-Admin{
        width: 25%;
    }
    
    table.resizeble .th-Buttons {
        width: 15%;
    }
    
    table.resizeble .th-Tittle {
        width: 70%;
    }

    table.resizeble .th-Buttons-Inside {
        width: 30%;
    }
}