.modal-title{
    width: 75%;
}

#arrowTop {
    height: 9px;
    width: 14px;
    color: green;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#arrowTop::before {
    content: '▲';
}

@media (min-width: 576px)
{
    .size{
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    tr {
        white-space: nowrap;
    }

    tr:hover {
        white-space: normal; 
        word-wrap:  break-word; /* Обычный перенос текста */
        overflow-wrap: break-word;
    }

    table { 
        table-layout: fixed; 
        width: 100%;
    }

    table th, table td { overflow: hidden; }

    th.th-Title{
        width: 45%;
    }

    th.th-Author{
        width: 25%;
    }

    th.th-LastEditDT{
        width: 20%;
    }

    th.th-Button {
        width: 10%;
    }
}

@media (max-width: 576px)
{
    .size{
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    tr {
        white-space: nowrap;
    }

    tr:hover {
        white-space: normal; 
        word-wrap:  break-word;
        overflow-wrap: break-word;
    }

    table { 
        table-layout: fixed; 
        width: 600px;
    }

    table th, table td { overflow: hidden; }

    th.th-Title{
        width: 300px;
    }

    th.th-Author{
        width: 150px;
    }

    th.th-LastEditDT{
        width: 100px;
    }

    th.th-Button {
        width: 50px;
    }
}